@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

Canvas {
  height: 100vh;
  background: radial-gradient(#e66465, #9198e5);
  z-index: 1;
}
.App {
  width: 100vw;
}
h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  width: fit-content;
}
